{% macro about() %}
<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{ config.extra.user_description }} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Web</h2>
      <i class="devicon-flask-original"></i>
      <i class="devicon-python-plain"></i>
      <i class="devicon-nginx-original"></i>
      <p>I like building RESTful APIs in Flask and scraping websites with Requests, Scrapy, and Beautifulsoup</p>
    </div>
    <div class="tech">
      <h2>Rust</h2>
      <i class="devicon-aarch64-plain"></i>
      <i class="devicon-rust-plain"></i>
      <i class="devicon-linux-plain"></i>
      <p>I'm interested in Rust's concurrency and safety for reverse engineering binary files and cross-platform GUIs</p>
    </div>
    <div class="tech">
      <h2>CI/CD</h2>
      <i class="devicon-kubernetes-plain"></i>
      <i class="devicon-argocd-plain"></i>
      <i class="devicon-github-original"></i>
      <p>I'm a big fan of tools that make life easier, which usually involves automated builds and container delivery pipelines</p>
    </div>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ "/img/folsum_hdd_rainbow.jpg" }}" />
  </div>
  <div class="contents">
    <h3> FolSum </h3>
    <ul>
      <li> Rust </li>
      <li> egui </li>
      <li> Github Actions </li>
    </ul>
    <p>Investigators wanted a basic tool for summarizing the contents of a folder. I delivered that functionality with a cross-platform binary driven by a simple GUI. MacOS builds are automatically created by a Github Action.</p>
    <a class="project-link" href="https://github.com/goingforbrooke/folsum">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/frog_scientist.jpg" }}" />
  </div>
  <div class="contents-right">
    <h3> Meme Tracker </h3>
    <ul>
      <li> Python </li>
      <li> Scrapy </li>
      <li> Flask </li>
    </ul>
    <p>A politics researcher wanted a tool to scrape images from a popular meme site. Meme Tracker scrapes these images and displays them in a webpage.</p>
    <a class="project-link" href="https://github.com/goingforbrooke/meme_tracker">Check it out</a>
  </div>
</div>
{% endmacro projects %}

